*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: Verdana;
}

input, select, textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%
}
label{
    font-weight: bold;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container{
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group-1{
    flex: 1 1 100%;
}

.form-group-2{
    flex: 1 1 45%;
}

.form-group-3{
    flex: 1 1 30%;
}

.radio-group, .checkbox-group{
    display: flex;
    gap: 15px;
}

.radio-group>label .checkbox-group>label{
    display:flex;
    gap: 3px;
}

.button{
    margin: auto;
}

input[type="submit"]{
    width: 100px;
    padding: 10px;
    background-color: black;
    color: white;
    height: 50px;
    border-radius: 10px;
}